@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SUITE Variable';
	font-weight: 300 900;
	src: url('/woff2/SUITE-Variable.woff2') format('woff2-variations');
}
body {
  @apply !font-suite;
}